extends partials/layouts/results.pug
block results	
	div.results
		div.items
			each link, i in queryLinks
				if link
					div.item
						div.list-content
							div.view( embed-url=embedLinks[i] onclick='load_iframe(this)' )
								img.thumbnail( src=imgLinks[i] )
								img.play-button( src="youtube-play-button-48.png" )
								span.video-time #{times[i]} 
								if (isPlaylist[i])
									div.playlist
										span.playlist-content #{playlistSizes[i]}
							div.info
								div.link
									a( href=link ) #{titles[i]}
								div.download_buttons
									div.vid
										button( type='button' onclick='dwnld(this)' link=link title=titles[i] mp3='0' ) Download mp4
									div.mp3
										button( type='button' onclick='dwnld(this)' link=link title=titles[i] mp3='1' ) Download mp3
