extends partials/layouts/results.pug
block results	
	div.content
		ul
			each link, i in queryLinks
				if link
					li
						div.wrapper
							div.list-content
								div.view( embed-url=embedLinks[i] onclick='load_iframe(this)' width=300 )
									img( src=imgLinks[i] width=300 )
									img.play-button( src="youtube-play-button-48.png" )
								div.link
									a( href=link ) #{titles[i]}
								div.download_buttons
									div.vid
										button( type='button' onclick='dwnld(this)' link=link title=titles[i] mp3='0' ) Download mp4 video
									div.mp3
										button( type='button' onclick='dwnld(this)' link=link title=titles[i] mp3='1' ) Download mp3 soundtrack
